@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
/* media querey */
@media (max-width: 640px) {
  a.active{
    background-color: black;
    color: white;
    width: 23%;
    border-radius: 15px;
    height: 2.5rem;
    text-align: center;
  }
}
